:root {
    font-size: 62.5%;
    /* --font-to-height-ratio: 1.6 / 100; */
}

@font-face {
  font-family: 'ComicRunes';
  src: url('./custom-fonts/ComicRunes.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./custom-fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.image_container {
    height: 100%;
    width: 37%;
    background: url(./media/halie-west-plant-bg.jpg) top/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.odin_banner {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: max(10rem, 10%);
    width: 100%;
    margin-top: max(35%);
    padding: 1.8rem 2rem;
}

.odin_logo {
    height: 100%;
    width: auto;
}

.odin_text {
    font-family: 'Norse-Bold', sans-serif;
    font-size: 6rem;
    color: white;
    text-align: center;
}

.image_footer {
    margin-top: auto;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image_footer a {
    color: inherit;
}

.form_container {
    height: 100%;
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}